<h3>List Country</h3>
<table>
  <tr>
    <td>Có {{bookList.length}} cuốn sách</td>
    <td><a routerLink='/books/create'>Add book</a></td>
  </tr>
  <tr>
<!--    <td>ID</td>-->
    <td>Title</td>
    <td>Author</td>
    <td>Edit</td>
    <td>Delete</td>
  </tr>
  <tr *ngFor="let book of bookList">
<!--    <td>{{book.id}}</td>-->
    <td>{{book.title}}</td>
    <td>{{book.author}}</td>
    <td><a [routerLink]="['/books/edit',book.id]">edit</a></td>
    <td><a [routerLink]="['/books/delete',book.id]">Delete</a></td>

  </tr>
</table>
