<form [formGroup]="book" (ngSubmit)="onSubmit(id)">
  <table class="table table-striped">
<!--    <tr>-->
<!--      <td>Id</td>-->
<!--      <td><input type="text" formControlName="id" style="display: none"></td>-->
<!--    </tr>-->
    <tr>
      <td>Title</td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Author</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Description</td>
      <td><textarea name="" id="" cols="30" rows="10" type="text" formControlName="description"></textarea></td>
    </tr>
    <tr>
      <td><button class="btn btn-danger">Update</button></td>
      <td><a routerLink="/books/list">Thoát</a></td>
    </tr>
  </table>
</form>
